  <div class="product-slider">
    <image class="productImg" ng-src="{{detail.product.image}}" alt="{{detail.product.imageAlt}}" />
  </div>

  <div class="productDetails">
    <h2>{{detail.product.name}}</h2>

    <form>      
      <div>
        <label>Quantity</label>
        <input type="text" placeholder="1" ng-model="detail.quantity">
        <button ng-click="detail.addToCart(detail.product._id, detail.quantity)">Add to Cart</button>
      </div>
    </form>

    <p><span>Why love it?</span>{{detail.product.description}}</p>

    <p><span>The low down:</span> {{detail.product.details}}</p>

  </div>

<div ng-include="'components/partials/footer.html'"></div>